.mainContainer {
  display: flex;

  flex-direction: column;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
  width: 30%;
}

.heading {
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}
.menu {
  opacity: 0.8;
}
.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.options {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.6rem;
  font-size: 0.9rem;
}
.options:hover {
  cursor: pointer;
  background-color: #e5f3fe;
  border-radius: 6px;
  color: black;
  font-weight: 500;
}
.icon:hover {
  color: #72bdf7;
}
